<form role="form" ng-submit="confirm2Submit(storyId)">
<div id='msgDiv' style="text-align: center;">
	<h5 style="text-align: center; margin-top: 0; color: #000fff;">{{revmsg}}</h5>
	<div ng-repeat="ques in questions">
		<p class="text-center">{{ques.text}}</p>
		<div class="text-center">
			<span ng-repeat="n in [ques.range.lower, ques.range.upper] | makeRange" ng-click="setMark(ques.index, n)" class="{{ques.styleClass}} iconmargin"></span>
		</div>
		<div style="margin-bottom: {{ques.margin}}px;"></div>
	</div>
</div>
</div>
	<div class="modal-footer" style="border-top: none;">
		<div class=" text-center">
			<input type="button" class="btn btn-default  buttonDecor" value="Close" ng-click="$modalCancel()"> &nbsp;
			<input type="submit" class="btn btn-default  buttonDecor" value="Submit" ng-hide="isSubmitted">
		</div> 
	</div>
</div>
</form>