<script type="text/javascript">
<!--
$(document).ready(function(){
	//$(".carousel").carousel({interval: 3000});
});
//-->
</script> 
<div class="row showContent">
	<!-- baner begin -->
	<ng-include src="'templates/banner.html'"></ng-include>
	<!-- baner end -->			
	<!-- welcome begin -->
	<ng-include src="'templates/welcome.html'"></ng-include>
	<!-- welcome end -->		
</div>
<div class="clearfix"></div>
<!-- Winers begin -->
<ng-include src="'templates/winners.html'"></ng-include>
<!-- Winers end -->	
		